//- http://getbootstrap.com/examples/blog/

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/socket.io/socket.io.js')
		block scripts

	body
		.blog-masthead
			.container
				nav.blog-nav
					a.blog-nav-item(class=path=='/'?'active':undefined, href='/') Home
					a.blog-nav-item(class=path=='/api'?'active':undefined, href='/api') API
		.container
			.row
				.col-sm-8.blog-main
					.blog-post
						br
						block content