html{ min-height: 100%; position: relative; }
body{ height: 100%; }

a.brand:hover { text-decoration: none; }
pre { border-radius: 0; }

.brand .bracket, .brand .pluto { font-weight: normal; color: #c3c3c3; }
.brand .bracket { font-size: 30px; }
.brand .colon { font-weight: normal; }

#devices > pre { font-size: 100px; font-weight: bold; text-align: center; }

.header { width: 100%; padding-top: 0; padding-bottom: 0; height: 80px; background: #233240; color: white; }

.jumbotron { position: absolute; top: 80px; left: 0; right: 0; height: 200px; overflow: hidden; background: #486683; }
.jumbotron .title { color: #fff; }
.jumbotron .title .slogan { font-size: 3em; }
.jumbotron .title .doit { font-size: 1.5em; }

.navbar { border-radius: 0; }

.title > a { color: #fff; }
.title .login { font-size: 21px; padding: 26px 28px 24px 0; font-weight: 100; }
.title > .brand { font-size: 25px; padding: 19px 28px 19px 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 800; float: left; }