<!DOCTYPE html>
<html>
<head>
    <title>PROJECT:SPEEDY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>
<div class="default-page">
    <div class="header">
        <a href="/">
            <h1 id="main-title" class="container">
                <span style="font-weight:bold;font-size:1.2em">{</span>
                <span style="font-weight:bold">PROJECT</span>:SPEEDY
                <span style="font-weight:bold;font-size:1.2em">}</span>
            </h1>
        </a>

        <h3 class="container">Be a real-time hero&hellip;</h3>
    </div>
    <%- body %>
</div>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/main.js"></script>
<!--SCRIPTS END-->

</body>
</html>
