<!DOCTYPE html>
<html>
<head>
    <title>PROJECT:SPEEDY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

<body>
<div class="default-page">
    <div class="header">
        <a href="/">
            <h1 id="main-title" class="container">
                <span style="font-weight:bold;font-size:1.2em">{</span>
                <span style="font-weight:bold">PROJECT</span>:SPEEDY
                <span style="font-weight:bold;font-size:1.2em">}</span>
            </h1>
        </a>

        <h3 class="container">Be a real-time hero&hellip;</h3>
    </div>
    <%- body %>
</div>

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->
<script>
    //FIXME: přesunout
    io.socket.on('data', function (data) {
        var result = String(data).match(/([a-z]{4}_[0-9]{6}):(.*)/i);
        if (result) {
            var device = result[1];
            document.getElementById(device).innerHTML = result[2];
        }
    });
    io.socket.on('status', function (data) {
        var result = String(data).match(/([a-z]{4}_[0-9]{6}):(.*),(.*),(.*)/i);
        if (result) {
            var device = result[1];
            var status = result[4];
            var active = document.getElementById(device + '_status');
            if (status == 'true') {
                active.style.background = 'green';
                active.title = 'Active'
            } else {
                active.style.background = 'red';
                active.title = 'Inactive'
            }
        }
    });
    io.socket.on('msg_count', function (data) {
        document.getElementById('msg_count').innerHTML = data.replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    });
</script>
</body>
</html>
