extends layout

block scripts
    script(src='/javascripts/main.js')

block content
    .container
        include blocks/adminMenu
        .row
            .col-lg-12
                form(id='device-form', method='POST', action='/admin')
                    .form-group
                        label(for='xxx') XXX
                        input(type='text', name='xxx', class='form-control', id='xxx', placeholder='xxx', required)
                    .form-group
                        button.btn.btn-default Odeslat
        hr
        div#devices