extends layout

block scripts
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/javascripts/main.js')

block content
    .container
        nav.navbar.navbar-default(role='navigation')
            .container-fluid
                .collapse.navbar-collapse
                    .navbar-header
                        a.navbar-brand Dashboard
                    ul.nav.navbar-nav
                        li.active
                            a(href='/admin') Concentrators
                        li
                            a(href='/admin/map') Map
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', role='button' aria-expanded='false') Action
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a Logout
        .page-header
            h1 Concentrators
                small  ADC units
        div#devices
            pre Loading...
            pre Loading...
        div#graph