extends layout

block content
    .jumbotron
        .container
            .row
                .col-lg-6.col-md-6
                    .title
                        .slogan Be a real-time hero!
                        .doit There is only one way&hellip;
                .col-lg-6.col-md-6
                    img(src='images/iot.png').world
    .container
        .row
            .col-lg-4
                h2 Pick the right device
                p.text-justify.
                    IoT is what's moving with the world. Just pick whatever device you want. You can even build your own. Do you want to connect your fridge to the internet? No problem!
            .col-lg-4
                h2 Connect to the world
            .col-lg-4
                h2 Be awesome!