//- http://getbootstrap.com/examples/blog/

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block links
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		block scripts

	body
		.header
			.container
				.title
					a.brand(href='/')
						span.bracket {
						span.project  PROJECT
						span.colon :
						span.pluto SPEEDY
						span.bracket  }
					a.pull-right.login(href='/admin') Login
		block content
		.footer
			.container
				.row
					.col-lg-4
						h4 Features
					.col-lg-4
						h4 Projects
					.col-lg-4
						h4 More info